# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [4]:
import pandas as pd
import numpy as np

In [5]:
from numpy.random import randn
np.random.seed(101)

In [6]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [7]:
randn(4, 4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651]])

In [8]:
df = pd.DataFrame(randn(4, 4), 
                  index=["Petya", "Magnum", "Zvetochki", "Chtoto"], 
                  columns=["A", "B", "C", "D"])

In [9]:
df

                  A         B         C         D
Petya      0.190794  1.978757  2.605967  0.683509
Magnum     0.302665  1.693723 -1.706086 -1.159119
Zvetochki -0.134841  0.390528  0.166905  0.184502
Chtoto     0.807706  0.072960  0.638787  0.329646

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [14]:
df['B']

Petya       -0.610259
Magnum      -0.479448
Zvetochki    1.862864
Chtoto       2.084019
Name: B, dtype: float64

In [16]:
# Pass a list of column names
df[['A','B']]

                  A         B
Petya      2.154846 -0.610259
Magnum     0.147027 -0.479448
Zvetochki -0.925874  1.862864
Chtoto     0.386030  2.084019

In [19]:
# SQL Syntax (NOT RECOMMENDED!)
df.A

Petya        2.154846
Magnum       0.147027
Zvetochki   -0.925874
Chtoto       0.386030
Name: A, dtype: float64

DataFrame Columns are just Series

In [21]:
type(df['A'])

pandas.core.series.Series

**Creating a new column:**

In [29]:
df['new'] = df['A'] + df['B']
df['new2'] = [1,2,3,4]
df['new3'] = [None, None, None, None]

In [30]:
df

                  A         B         C         D       new  new2  new3
Petya      2.154846 -0.610259 -0.755325 -0.346419  1.544588     1  None
Magnum     0.147027 -0.479448  0.558769  1.024810 -0.332421     2  None
Zvetochki -0.925874  1.862864 -1.133817  0.610478  0.936990     3  None
Chtoto     0.386030  2.084019 -0.376519  0.230336  2.470049     4  None

** Removing Columns**

In [43]:
# df = df.drop('A', axis=1)
df.drop('A', axis=1, inplace=True)

                  B         C         D       new  new2  new3
Petya     -0.610259 -0.755325 -0.346419  1.544588     1  None
Magnum    -0.479448  0.558769  1.024810 -0.332421     2  None
Zvetochki  1.862864 -1.133817  0.610478  0.936990     3  None

In [44]:
# Not inplace unless specified!
df

                  A         B         C         D       new  new2  new3
Petya      2.154846 -0.610259 -0.755325 -0.346419  1.544588     1  None
Magnum     0.147027 -0.479448  0.558769  1.024810 -0.332421     2  None
Zvetochki -0.925874  1.862864 -1.133817  0.610478  0.936990     3  None

In [70]:
df.drop('new', axis=1, inplace=True)

In [71]:
df

          W         X         Y         Z
C  0.651118 -0.319318 -0.848077  0.605965
D -2.018168  0.740122  0.528813 -0.589001
E  0.188695 -0.758872 -0.933237  0.955057

Can also drop rows this way:

In [135]:
df.drop('E', axis=0)

KeyError: "['E'] not found in axis"

** Selecting Rows**

In [62]:
# df['A'] # Column
# df.loc['Petya'] # Row

Petya        2.154846
Magnum       0.147027
Zvetochki   -0.925874
Name: A, dtype: float64

Or select based off of position instead of label

In [61]:
df.iloc[2]

A      -0.925874
B        1.86286
C       -1.13382
D       0.610478
new      0.93699
new2           3
new3        None
Name: Zvetochki, dtype: object

** Selecting subset of rows and columns **

In [69]:
df.loc[['Magnum', 'Petya'], ['A', 'B']]

               A         B
Magnum  0.147027 -0.479448
Petya   2.154846 -0.610259

In [73]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[:-3:2])
print(a[::-1])
print(a[-3:])

[1, 3, 5]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[7, 8, 9]

In [74]:
df

                  A         B         C         D       new  new2  new3
Petya      2.154846 -0.610259 -0.755325 -0.346419  1.544588     1  None
Magnum     0.147027 -0.479448  0.558769  1.024810 -0.332421     2  None
Zvetochki -0.925874  1.862864 -1.133817  0.610478  0.936990     3  None

In [86]:
# df.loc[['A','B'], ['W','Y']]
df.iloc[:, :-3]
df.iloc[:, [1,2,5]]

                  B         C  new2
Petya     -0.610259 -0.755325     1
Magnum    -0.479448  0.558769     2
Zvetochki  1.862864 -1.133817     3

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [92]:
df

                  A         B         C         D       new  new2  new3
Petya      2.154846 -0.610259 -0.755325 -0.346419  1.544588     1  None
Magnum     0.147027 -0.479448  0.558769  1.024810 -0.332421     2  None
Zvetochki -0.925874  1.862864 -1.133817  0.610478  0.936990     3  None

In [93]:
df>0

               A      B      C      D    new  new2   new3
Petya       True  False  False  False   True  True  False
Magnum      True  False   True   True  False  True  False
Zvetochki  False   True  False   True   True  True  False

In [94]:
df[df>0]

                  A         B         C         D       new  new2 new3
Petya      2.154846       NaN       NaN       NaN  1.544588     1  NaN
Magnum     0.147027       NaN  0.558769  1.024810       NaN     2  NaN
Zvetochki       NaN  1.862864       NaN  0.610478  0.936990     3  NaN

In [100]:
df[df['A']>0]

               A         B         C         D       new  new2  new3
Petya   2.154846 -0.610259 -0.755325 -0.346419  1.544588     1  None
Magnum  0.147027 -0.479448  0.558769  1.024810 -0.332421     2  None

In [102]:
df[df['A']>0]

               A         B         C         D       new  new2  new3
Petya   2.154846 -0.610259 -0.755325 -0.346419  1.544588     1  None
Magnum  0.147027 -0.479448  0.558769  1.024810 -0.332421     2  None

In [84]:
df[df['W']>0][['Y','X']]

          Y         X
C -0.848077 -0.319318
E -0.933237 -0.758872

For two conditions you can use | and & with parenthesis:

In [117]:
df[(df['A']>0) & (df['B'] < 0)]
# df[df['A']>0][df['B']<0]

               A         B         C         D       new  new2  new3
Petya   2.154846 -0.610259 -0.755325 -0.346419  1.544588     1  None
Magnum  0.147027 -0.479448  0.558769  1.024810 -0.332421     2  None

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [132]:
df

                  A         B         C         D
Petya      0.681209  1.035125 -0.031160  1.939932
Magnum    -1.005187 -0.741790  0.187125 -0.732845
Zvetochki -1.382920  1.482495  0.961458 -2.141212
Chtoto     0.992573  1.192241 -1.046780  1.292765

In [136]:
# Reset to default 0,1...n index
df.reset_index()

       index         A         B         C         D
0      Petya  0.681209  1.035125 -0.031160  1.939932
1     Magnum -1.005187 -0.741790  0.187125 -0.732845
2  Zvetochki -1.382920  1.482495  0.961458 -2.141212
3     Chtoto  0.992573  1.192241 -1.046780  1.292765

In [139]:
df['Shops'] = ['Shop 1', 'Shop 2', 'Shop gfhfg', "asfd"]

In [140]:
df

                  A         B         C         D       Shops
Petya      0.681209  1.035125 -0.031160  1.939932      Shop 1
Magnum    -1.005187 -0.741790  0.187125 -0.732845      Shop 2
Zvetochki -1.382920  1.482495  0.961458 -2.141212  Shop gfhfg
Chtoto     0.992573  1.192241 -1.046780  1.292765        asfd

In [141]:
df.set_index('Shops')

                   A         B         C         D
Shops
Shop 1      0.681209  1.035125 -0.031160  1.939932
Shop 2     -1.005187 -0.741790  0.187125 -0.732845
Shop gfhfg -1.382920  1.482495  0.961458 -2.141212
asfd        0.992573  1.192241 -1.046780  1.292765

In [95]:
df

          W         X         Y         Z States
C  0.651118 -0.319318 -0.848077  0.605965     CA
D -2.018168  0.740122  0.528813 -0.589001     NY
E  0.188695 -0.758872 -0.933237  0.955057     CA

In [96]:
df.set_index('States', inplace=True)

In [97]:
df

               W         X         Y         Z
States
CA      0.651118 -0.319318 -0.848077  0.605965
NY     -2.018168  0.740122  0.528813 -0.589001
CA      0.188695 -0.758872 -0.933237  0.955057

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [154]:
list(zip(outside,inside))

[('G1', 1),
 ('G1', 2),
 ('G1', 3),
 ('G2', 1),
 ('G2', 2),
 ('G2', 3),
 ('asfa', 34534)]

In [157]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [158]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [160]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.041460 -0.411055
   2 -0.771329  0.110477
   3 -0.804652  0.253548
G2 1  0.649148  0.358941
   2 -1.080471  0.902398
   3  0.161781  0.833029

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [161]:
df.loc['G1']

          A         B
1  0.041460 -0.411055
2 -0.771329  0.110477
3 -0.804652  0.253548

In [102]:
df.loc['G1'].loc[1]

A    0.190794
B    1.978757
Name: 1, dtype: float64

In [167]:
df.index.names = ['Shop','Cassa']

In [168]:
df

                   A         B
Shop Cassa
G1   1      0.041460 -0.411055
     2     -0.771329  0.110477
     3     -0.804652  0.253548
G2   1      0.649148  0.358941
     2     -1.080471  0.902398
     3      0.161781  0.833029

In [171]:
df.xs('G2')

              A         B
Cassa
1      0.649148  0.358941
2     -1.080471  0.902398
3      0.161781  0.833029

In [55]:
df.xs(['G1',1])

A    0.190794
B    1.978757
Name: (G1, 1), dtype: float64

In [173]:
df.xs(1, level='Cassa')

             A         B
Shop
G1    0.041460 -0.411055
G2    0.649148  0.358941

# Great Job!