In [1]:
print("Hello, World!")

Hello, World!

In [8]:
dsacademy = 100.5

In [9]:
dsacademy

100.5

In [6]:
dsacademy = 90

In [10]:
message = "Hello, DSAcademy!"

In [11]:
message

'Hello, DSAcademy!'

In [13]:
flag1 = False
flag2 = True

In [14]:
flag1

False

In [37]:
a = 50

In [38]:
a == 25*2

True

In [33]:
25 + 3

28

In [42]:
50 == 25*2 and 20 > 25

False

In [44]:
50 == 25*2 + 1 or 20 > 25

False

In [45]:
not (50 == 25*2 + 1 or 20 > 25)

True

In [53]:
salary = 700000
if salary > 600000:
    print("!!! YES!")
elif salary > 400000:
    print("Ok, I will think")
else:
    print("No(((")
print("Goodbye")

!!! YES!
Goodbye

In [78]:
n = 5
res = 1
for i in range(n):
    res = res * (i+1)
print("Factorial", n, "равен", res)

Factorial 5 равен 120

In [83]:
a = [1, 2, 3, "Vasya", False, [], [1, 2, 3]]

In [85]:
a[0]

1

In [86]:
a[1]

2

In [88]:
a[3] = "Petya"

In [89]:
a

[1, 2, 3, 'Petya', False, [], [1, 2, 3]]

In [90]:
del a[3]

In [91]:
a

[1, 2, 3, False, [], [1, 2, 3]]

In [92]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [96]:
a.append("Vasya")

In [100]:
["Vasya"] + a

['Vasya', 1, 2, 3, False, [], [1, 2, 3], 'Vasya']

In [101]:
a = [40, 60, 70, 100, 20, 150, 70]

In [109]:
for i in range(len(a)):
    print(a[i])

40
60
70
100
20
150
70
5

In [111]:
s = 0
for i in a:
    s = s + i
print(s)

515

In [128]:
a = [1500, 12, 12, 235, 50, 50]
m = a[0]
m_index = 0
for index, i in enumerate(a[1:]):
    if i > m:
        m = i
        m_index = index + 1
print(m, m_index)

1500 0

In [118]:
for index, i in enumerate(a):
    print(index, i)

0 -12
1 -25
2 -50
3 -70
4 -100

In [2]:
a = [1500, 12, 12, 235, 50, 50]
has_negative = False
for i in a:
    if i < 0:
        has_negative = True
        break
if has_negative:
    print("YES")
else:
    print("NO")

NO

In [136]:
if (5 == 10//2) == True:
    print("YES")

YES

In [137]:
d = {
    "name": "Shop 1",
    "income": 50000,
    "customers": 30,
    "staff": [
        {
            "name": "Тётя Лиза",
            "age": 58,
            "salary": 5000
        },
        {
            "name": "Тёта Бафомета",
            "age": 66,
            "salary": 66000
        }
    ]
}

In [139]:
d["fridges"] = 5

In [156]:
d["name"]

'Shop 1'

In [ ]:
shops.append(d)

In [145]:
d.keys()

dict_keys(['name', 'income', 'customers', 'staff', 'fridges'])

In [150]:
d.values()

dict_values(['Shop 1', 50000, 30, [{'name': 'Тётя Лиза', 'age': 58}, {'name': 'Тёта Бафомета', 'age': 66}], 5])

In [147]:
d.items()

dict_items([('name', 'Shop 1'), ('income', 50000), ('customers', 30), ('staff', [{'name': 'Тётя Лиза', 'age': 58}, {'name': 'Тёта Бафомета', 'age': 66}]), ('fridges', 5)])

In [152]:
shops = [
    {
        "name": "Shop 1",
        "income": 500000,
        "city": "Алматы" 
    },
    {
        "name": "Shop 2",
        "income": 200000,
        "city": "Астана" 
    },
    {
        "name": "Shop 3",
        "income": 300000,
        "city": "Алматы" 
    },
    {
        "name": "Shop 4",
        "income": 600000,
        "city": "Астана" 
    },
]

In [162]:
max_income = None
max_name = None
max_city = None
cities = ["Алматы", "Астана"]
for shop in shops:
    if (max_income == None or shop["income"] > max_income) \
        and shop["city"] == "Алматы":
        max_income = shop["income"]
        max_name = shop["name"]
        max_city = shop["city"]
print(max_name, max_income)

Shop 1 500000